<script src="/public/js/mostrarTabla.js"></script>
<script src="/public/js/mostrarMenu.js"></script>
<script src="/public/js/mostrarFiltros.js"></script>
<script src="/public/js/vestidos.js"></script>
<script src="/public/js/pagar.js"></script>
<script src="/public/js/alerta.js"></script>

</body>
</html>