<footer class=' bg-[#1C1919CC] bg-opacity-80 h-[68px] lg:h-[86px] w-full flex justify-between px-4 items-center'>
    <h1 class=" font-[primary] not-italic text-[20px] lg:text-[35px] font-extrabold"><span class="text-[#E169E3]"> GLOMAX </span></h1>
</footer>


</body>
</html>





