<!DOCTYPE html>
<html lang="es">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Glomax</title>
</head>
<body class="bg-black" id="body">
<header class="w-[100%] h-[70px] lg:h-[100px] border-b-4 border-b border-[#B1AC33] flex items-center justify-center"  >
    <div class="w-[60%] h-[100px] lg:w-[30%] flex items-center absolute left-0 " id="menuIcon">
        <button type="button" class="h-[70px]" ><img class="lg:w-[70px] w-[50px] ml-4" src="/public/iconos/menuIcon.png" alt="menuIcon" id="imgMenu"></button>
    </div>
    <div class="absolute w-[60%] lg:w-[30%] pb-10 bg-black top-20 lg:top-24 left-0 flex flex-col border-r-4 border-b-4 border-[#B1AC33] rounded-br-3xl" style="display: none;" id="menu">
        <ul class="text-[#B1AC33] flex flex-col gap-4">
            <a href="/registro/agregarSalida"><li class="text-3xl hover:bg-[#B1AC33] hover:text-black h-[60px] flex items-center pl-4">Agregar salida</li></a>
            <a href="/registro/agregarEntrada"><li class="text-3xl hover:bg-[#B1AC33] hover:text-black h-[60px] flex items-center pl-4">Agregar entrada</li></a>
            <a href="/registro/realizarDevolucion"><li class="text-3xl hover:bg-[#B1AC33] hover:text-black h-[60px] flex items-center pl-4">Realizar devolución</li></a>
            <a href="/registro/historialSalidas"><li class="text-3xl text-[#B1AC33] hover:bg-[#B1AC33] hover:text-black h-[60px] flex items-center pl-4">Historial de salidas</li></a>
            <a href="/registro/historialEntradas"><li class="text-3xl text-[#B1AC33] hover:bg-[#B1AC33] hover:text-black h-[60px] flex items-center pl-4">Historial de entradas</li></a>
            <a href="/vestido/historialPagos"><li class="text-3xl hover:bg-[#B1AC33] hover:text-black h-[60px] flex items-center pl-4">Historial de pagos</li></a>
            <a href="/creacion/crearTalle"><li class="text-3xl hover:bg-[#B1AC33] hover:text-black h-[60px] flex items-center pl-4">Crear talle</li></a>
            <a href="/vestido/cambiarPrecio"><li class="text-3xl hover:bg-[#B1AC33] hover:text-black h-[60px] flex items-center pl-4">Cambiar precios</li></a>
        </ul>
    </div>
    <a href="/vestido/listarVestidos" class="text-3xl lg:text-6xl font-semibold text-[#B1AC33] text-center">Glomax</a>
    <a href="/lobby/interno" class="text-3xl lg:text-3xl font-semibold text-[#B1AC33] absolute right-6">Lobby</a>
</header>
