<!DOCTYPE html>
<html lang='en'>
<title>Glomax</title>
<meta charset='UTF-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src="https://cdn.tailwindcss.com"></script>
<body class="bg-[url('/public/img/mario.png')] bg-cover bg-no-repeat ">
<header class="bg-[#1C1919CC] bg-opacity-80 h-[122px] lg:h-[92px] mb-4 xl:mb-[30px] w-[100%]">
    <style>
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: rgb(51 65 85);
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
            color: black;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

    </style>
    <div class='flex items-center h-full'>

    <div class="dropdown ml-20">
        <button class="dropbtn text-white text-2xl">Menú</button>
        <div class="dropdown-content ">
            <a href="/vestido/salidaVestidos" class="text-xl bg-slate-600">Agregar salidas</a>
            <a href="/vestido/entradaVestidos" class="text-xl bg-slate-600">Agregar entradas</a>
            <a href="/vestido/agregarVestido" class="text-xl bg-slate-600">Agregar vestido</a>
            <a href="/vestido/agregarTalle" class="text-xl bg-slate-600">Agregar talle</a>
            <a href="/vestido/eliminarVestido" class="text-xl bg-slate-600">Eliminar vestido</a>
            <a href="/vestido/estado" class="text-xl bg-slate-600 ">Cambiar estado</a>
            <a href="/vestido/actualizarPrecio" class="text-xl bg-slate-600 ">Cambiar precio</a>
            <a href="/vestido/actualizarFechaPago" class="text-xl bg-slate-600 ">Actualizar fecha de pago</a>
            <a href="/vestido/verPorFecha" class="text-xl bg-slate-600 ">Ver entradas y salidas de vestidos</a>
            <a href="/vestido/porTalle" class="text-xl bg-slate-600 ">Ver vestidos por talle</a>
        </div>
    </div>
        <h1 class="font-[primary] text-center w-full not-italic text-[20px] lg:text-[35px] font-extrabold"><span class="text-[#E169E3]"> GLOMAX </span></h1>
    </div>
</header>

