{{>header}}
<main id="main" class="pt-24 pb-20">
    <form action="/registro/agregarSalida" method="post">
        <div class="flex flex-col gap-6 items-center border border-[#B1AC33] rounded-3xl p-6 pt-20 w-[40%] mx-auto">
            <h1 class="w-[24%] h-[80px] border border-[#2E2C02] rounded-3xl bg-[#B1AC33] text-black text-4xl
                absolute top-40 flex items-center justify-center">Agregar salida</h1>
        <input name="cantidad" type="number" value="1" class="w-[400px] h-[60px] bg-black
                border border-[#B1AC33] text-[#B1AC33] py-2 text-2xl pl-4 rounded-3xl">
        <select name="vestido" class="w-[400px] h-[60px] bg-black
                border border-[#B1AC33] rounded-3xl text-[#B1AC33] py-2 text-2xl pl-4" id="vestidoBuscado">
            <option disabled selected hidden class="text-[#B1AC33] h-[30px] w-[300px]
                            hover:bg-[#B1AC33] hover:text-black hover:border-[#2E2C02] ">Vestidos</option>
        </select>
        <select name="talles" class="w-[400px] h-[60px] bg-black
                border border-[#B1AC33] text-[#B1AC33] py-2 text-2xl pl-4 rounded-3xl" id="talleBuscado">
            <option disabled selected hidden class="text-[#B1AC33] h-[30px] w-[300px]
                            hover:bg-[#B1AC33] hover:text-black hover:border-[#2E2C02] ">Talles</option>
        </select>
        <select name="colores" class="w-[400px] h-[60px] bg-black
                border border-[#B1AC33] text-[#B1AC33] py-2 text-2xl pl-4 rounded-3xl " id="colorBuscado">
            <option disabled selected hidden class="text-[#B1AC33] h-[30px] w-[300px]
                            hover:bg-[#B1AC33] hover:text-black hover:border-[#2E2C02]">Colores</option>

        </select>
        <input type="submit" name="agregarSalida" value="Agregar"
               class="border border-[#B1AC33] w-[180px] h-[60px] text-[#B1AC33] text-3xl hover:bg-[#B1AC33] hover:text-black hover:border-[#2E2C02] hover: rounded-3xl">
        {{#alert}}
            <h1 class="w-[50%] h-[60px] border border-[#2E2C02] rounded-3xl bg-[#B1AC33] text-black text-3xl
                absolute -right-80 flex items-center justify-center">{{mensaje}}</h1>
            {{/alert}}
        </div>
    </form>
</main>
{{>footer}}