{{>header}}
<main>

    <div class="relative rounded-2xl p-6 bg-[#1C1919] bg-opacity-80  lg:w-[837px] mx-auto m-10 ">
        <div class="lg:h-[90px] flex justify-center items-center gap-2 my-2 mb-6 mx-auto rounded-2xl p-4 bg-[#1C1919] bg-opacity-80 lg:w-[350px] text-center text-[15px] lg:text-3xl text-white">
            <p>Agregar Talle</p>
        </div>
        <div class="lg:h-[400px] flex flex-wrap mx-auto rounded-2xl p-10 bg-[#1C1919] bg-opacity-80 lg:w-[500px] h-[1000px]">
            <form action="/vestido/agregarTalle" method="post" class="grid grid-cols-3 gap-4">
                <div class="col-span-2 flex flex-col justify-center items-center">
                    <label class="text-center text-[15px] lg:text-xl text-white" for="nombre">Nombre</label>
                    <br>
                    <select class="lg:w-[250px] pl-2" name="nombre">
                        {{#vestidos}}
                            <option value="{{nombre}}">{{nombre}}</option>
                        {{/vestidos}}
                    </select>
                    <br><br>
                    <label class="text-center text-[15px] lg:text-xl text-white" for="talle">Talle</label>
                    <br>
                    <input type="text" class="lg:w-[250px] pl-2" name="talle">
                    <br><br>
                    <label class="text-center text-[15px] lg:text-xl text-white" for="color">Color</label>
                    <br>
                    <input type="text" class="lg:w-[250px] pl-2" name="color">
                    <br><br>
                </div>

                <div class="col-span-1 flex justify-center items-center">
                    <br><br>
                    <input class="lg:text-xl text-white border px-5 py-1" type="submit" name="agregarTalle" value="Agregar">
                </div>
            </form>
        </div>

        <div class="flex justify-around items-center mt-10">
            <a href="/vestido/listarVestidos" class="text-center text-[15px] lg:text-2xl text-white">
                <div class="lg:h-[60px] flex justify-center items-center gap-2 my-2 mb-6 mx-auto rounded-2xl p-4 bg-[#1C1919] bg-opacity-80 lg:w-[300px]">
                    Volver
                </div>
            </a>
        </div>


</main>
{{>footer}}