{{>headerFlex}}
<main id="main" class="pt-24 pb-20">
    <form action="/flex/agregarDevolucion" method="post">
        <div class="flex flex-col items-center border border-[#B1AC33] rounded-3xl pt-20 p-4 lg:w-[70%] w-[80%] mx-auto">
            <div class="lg:w-[40%] w-[90%] lg:-mt-28 -mt-24 lg:mb-10 mb-4 lg:h-[90px] h-[50px] mx-auto
                border border-[#2E2C02] bg-[#B1AC33] rounded-3xl flex items-center justify-center">
                <h1 class="text-black lg:text-4xl text-2xl text-center">Agregar devolución</h1>
            </div>
            <div class="grid grid-cols-2 w-[100%] mb-10">
                <div class="flex flex-col items-center">
                    <div class="w-[90%] flex flex-col gap-4 mb-8">
                        <label for="receptor" class="text-3xl text-[#B1AC33]">Receptor</label>
                        <input name="receptor" type="text" class="w-[100%] lg:h-[60px] h-[40px] bg-black
                        border border-[#B1AC33] text-[#B1AC33] py-2 lg:text-2xl text-xl pl-4 rounded-3xl">
                    </div>
                    <div class="w-[90%] flex flex-col gap-4 mb-8">
                        <label for="cuenta" class="text-3xl text-[#B1AC33]">Cuenta</label>
                        <select name="cuenta" class="w-[100%] lg:h-[60px] h-[40px] bg-black
                    border border-[#B1AC33] rounded-3xl text-[#B1AC33] lg:text-2xl text-xl pl-4" required>
                            <option class="text-[#B1AC33] h-[30px] w-[300px]" value="Mamá" selected>Mamá</option>
                            <option class="text-[#B1AC33] h-[30px] w-[300px]" value="Papá">Papá</option>
                        </select>
                    </div>
                    <div class="w-[90%] flex flex-col gap-4">
                        <label for="fecha" class="text-3xl text-[#B1AC33]">Fecha</label>
                        <input name="fecha" type="date" value="{{fecha}}" class="w-[100%] lg:h-[60px] h-[40px] bg-[#B1AC33]
                        border border-[#B1AC33] py-2 lg:text-2xl text-xl pl-4 rounded-3xl">
                    </div>
                </div>
                <div class="flex flex-col items-center">
                    <div class="w-[90%] flex flex-col gap-4 mb-8">
                        <label for="destino" class="text-3xl text-[#B1AC33]">Destino</label>
                        <input name="destino" type="text" class="w-[100%] lg:h-[60px] h-[40px] bg-black
                        border border-[#B1AC33] text-[#B1AC33] py-2 lg:text-2xl text-xl pl-4 rounded-3xl">
                    </div>
                    <div class="w-[90%] flex flex-col gap-4 mb-16">
                        <label for="esCaba" class="text-3xl text-[#B1AC33] ">¿Es de CABA?</label>
                        <select name="esCaba" class="w-[100%] lg:h-[60px] h-[40px] bg-black
                    border border-[#B1AC33] rounded-3xl text-[#B1AC33] lg:text-2xl text-xl pl-4" required>
                            <option class="text-[#B1AC33] h-[30px] w-[300px]" value="CABA">Sí</option>
                            <option class="text-[#B1AC33] h-[30px] w-[300px]" value=" " selected>No</option>
                        </select>
                    </div>
                    <div>
                        <input type="submit" name="agregarDevolucion" value="Agregar"
                               class="border border-[#B1AC33] rounded-3xl w-[230px] h-[80px] text-[#B1AC33] text-3xl hover:bg-[#B1AC33] hover:text-black hover:border-[#2E2C02]">
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>
{{>footer}}