{{>header}}
<main id="main" class="pt-24 pb-20">
<form action="/creacion/crearVestido" method="post">
    <div class="flex flex-col gap-6 items-center border border-[#B1AC33] rounded-3xl p-6 pt-20 w-[40%] mx-auto">
        <h1 class="w-[24%] h-[80px] border border-[#2E2C02] rounded-3xl bg-[#B1AC33] text-black text-4xl
                absolute top-40 flex items-center justify-center">Crear vestido</h1>
        <input name="nombre" type="text" class="w-[400px] h-[60px] bg-black
                border border-[#B1AC33] text-[#B1AC33] py-2 text-2xl text-[#B1AC33] pl-4 rounded-3xl" placeholder="Nombre">
        <input name="precio" type="number" class="w-[400px] h-[60px] bg-black
                border border-[#B1AC33] text-[#B1AC33] py-2 text-2xl text-[#B1AC33] pl-4 rounded-3xl" placeholder="Precio">
        <input type="submit" name="crearVestido" value="Crear"
               class="border border-[#B1AC33] w-[180px] h-[60px] text-[#B1AC33] text-3xl hover:bg-[#B1AC33] hover:text-black hover:border-[#2E2C02] hover: rounded-3xl">
    </div>
</form>
</main>
{{>footer}}