{{>header}}
<main id="main" class="pt-10 pb-20">
       <a href="/vestido/detalle" class="text-[#B1AC33] lg:text-4xl text-2xl
        mx-auto border border-[#B1AC33] lg:w-[450px] lg:h-[100px] w-[210px] h-[90px] flex items-center justify-center border border-2 rounded-3xl
          hover:bg-[#B1AC33] hover:text-black hover:border-[#2E2C02] hover: rounded-3xl">{{nombreVestido}}</a>

    <div class="mx-auto mt-20 flex justify-center flex-wrap mb-20">
        <button class="w-[1000px] h-[80px] border border-2 border-[#B1AC33] rounded-3xl text-[#B1AC33] text-3xl
            hover:bg-[#B1AC33] hover:text-black hover:border-[#2E2C02]" id="mostrarTable">Obtener totales</button>
        <table class="border border-[#B1AC33] mx-auto mt-20 w-[98%] " style="display: none;" id="tabla">
            <tr class=" border border-[#B1AC33]">
                <th class="text-[#B1AC33] text-3xl p-4 border border-[#B1AC33]">Entradas</th>
                <th class="text-[#B1AC33] text-3xl p-4 border border-[#B1AC33]">Salidas</th>
                <th class="text-[#B1AC33] text-3xl p-4 border border-[#B1AC33]">Stock</th>
                <th class="text-[#B1AC33] text-3xl p-4 border border-[#B1AC33]">Saldo total</th>
            </tr>
            {{#totales}}
                <tr>
                    <td class="text-[#B1AC33] text-2xl text-center p-4 border border-[#B1AC33]">{{totalEntrada}}</td>
                    <td class="text-[#B1AC33] text-2xl text-center p-4 border border-[#B1AC33]">{{totalSalida}}</td>
                    <td class="text-[#B1AC33] text-2xl text-center p-4 border border-[#B1AC33]">{{totalStock}}</td>
                    <td class="text-[#B1AC33] text-2xl text-center p-4 border border-[#B1AC33]">{{saldoTotal}}</td>
                </tr>
            {{/totales}}
        </table>
    </div>
    <div>
        <form action="/vestido/detalle" method="post" class="flex justify-center items-center">
            <select name="vestidoBuscado" class="w-[400px] h-[60px] bg-black
                border border-[#B1AC33] text-[#B1AC33] py-2 text-2xl pl-4" id="vestidoBuscado">
                <option disabled selected hidden class="text-[#B1AC33] h-[30px] w-[300px]">Vestidos</option>
            </select>
            <select name="talles" class="w-[300px] h-[60px] bg-black ml-10
                border border-[#B1AC33] text-[#B1AC33] py-2 text-2xl pl-4" id="talleBuscado">
                <option disabled selected hidden class="text-[#B1AC33] h-[30px] w-[300px]
                            hover:bg-[#B1AC33] hover:text-black hover:border-[#2E2C02] ">Talles</option>
            </select>
            <select name="colores" class="w-[300px] h-[60px] bg-black
                border border-[#B1AC33] text-[#B1AC33] py-2 text-2xl pl-4 ml-10" id="colorBuscado">
                <option disabled selected hidden class="text-[#B1AC33] h-[30px] w-[300px]
                            hover:bg-[#B1AC33] hover:text-black hover:border-[#2E2C02]">Colores</option>

            </select>
            <input type="submit" name="filtrar" value="Filtrar"
                   class=" ml-10 border border-[#B1AC33] w-[150px] h-[60px] text-[#B1AC33] text-3xl hover:bg-[#B1AC33] hover:text-black hover:border-[#2E2C02] hover: rounded-3xl">
        </form>
    </div>
    <div class="mx-auto mt-20 flex justify-center flex-wrap">
        <table class="border border-[#B1AC33] mx-auto w-[98%] ">
            <tr class=" border border-[#B1AC33]">
                <th class="text-[#B1AC33] text-3xl p-4 border border-[#B1AC33]">Talle</th>
                <th class="text-[#B1AC33] text-3xl p-4 border border-[#B1AC33]">Color</th>
                <th class="text-[#B1AC33] text-3xl p-4 border border-[#B1AC33]">Entradas</th>
                <th class="text-[#B1AC33] text-3xl p-4 border border-[#B1AC33]">Salidas</th>
                <th class="text-[#B1AC33] text-3xl p-4 border border-[#B1AC33]">Stock</th>
                <th class="text-[#B1AC33] text-3xl p-4 border border-[#B1AC33]">Saldo total</th>
            </tr>
            {{#detalle}}
                <tr>
                    <td class="text-[#B1AC33] text-2xl text-center p-4 border border-[#B1AC33]">{{talle_vestido}}</td>
                    <td class="text-[#B1AC33] text-2xl text-center p-4 border border-[#B1AC33]">{{color_vestido}}</td>
                    <td class="text-[#B1AC33] text-2xl text-center p-4 border border-[#B1AC33]">{{cantidadE}}</td>
                    <td class="text-[#B1AC33] text-2xl text-center p-4 border border-[#B1AC33]">{{cantidadS}}</td>
                    <td class="text-[#B1AC33] text-2xl text-center p-4 border border-[#B1AC33]">{{totalStock}}</td>
                    <td class="text-[#B1AC33] text-2xl text-center p-4 border border-[#B1AC33]">{{saldoTotal}}</td>
                </tr>
            {{/detalle}}
        </table>
    </div>

</main>
{{>footer}}