{{>header}}
<main>

    <div class="relative rounded-2xl p-6 bg-[#1C1919] bg-opacity-80  lg:w-[937px] mx-auto m-10 ">
        <div class="lg:h-[90px] flex justify-center items-center gap-2 my-2 mb-6 mx-auto rounded-2xl p-4 bg-[#1C1919] bg-opacity-80 lg:w-[350px] text-center text-[15px] lg:text-3xl text-white">
            <p>Eliminar vestido</p>
        </div>
        <div class="lg:h-[250px] mx-auto rounded-2xl p-14 bg-[#1C1919] bg-opacity-80 lg:w-[350px] h-[1000px] flex justify-center">
            <form action="/vestido/eliminarVestido" method="post" class="">
                    <label class="text-center text-[15px] lg:text-xl text-white" for="nombre">Nombre</label>
                    <br>
                <select name="nombre" class="lg:text-l border px-5 py-1 " >
                {{#vestidos}}
                    <option value="{{nombre}}">{{nombre}}</option>
                {{/vestidos}}
                </select>
                    <br><br>
                    <input class="lg:text-xl text-white border px-5 py-1 " type="submit" name="eliminar" value="Eliminar">
            </form>
        </div>

        <div class="flex justify-around items-center mt-10">
            <a href="/vestido/listarVestidos" class="text-center text-[15px] lg:text-2xl text-white">
                <div class="lg:h-[60px] flex justify-center items-center gap-2 my-2 mb-6 mx-auto rounded-2xl p-4 bg-[#1C1919] bg-opacity-80 lg:w-[300px]">
                    Volver
                </div>
            </a>
        </div>

    </div>

</main>
{{>footer}}