{{>header}}
<main>

    <div class="relative rounded-2xl p-6 bg-[#1C1919] bg-opacity-80  lg:w-[1137px] mx-auto m-10 ">
        <div class="lg:h-[90px] flex justify-center items-center gap-2 my-2 mb-6 mx-auto rounded-2xl p-4 bg-[#1C1919] bg-opacity-80 lg:w-[350px] text-center text-[15px] lg:text-3xl text-white">
            <p>Actualizar entrada</p>
        </div>
        <div class="lg:h-[400px] flex justify-center mx-auto rounded-2xl p-10 bg-[#1C1919] bg-opacity-80 lg:w-[600px] h-[1000px]">
            <form action="/vestido/entradaVestidos" method="post">
                <label class="text-center text-[15px] lg:text-xl text-white" for="cantidad">Cantidad</label>
                <br>
                <input type="number" class="lg:w-[250px] pl-2" name="cantidad">
                <br><br>
                <label class="text-center text-[15px] lg:text-xl text-white" for="nombre">Nombre</label>
                <br>
                <select class="lg:w-[250px] pl-2" name="nombre">
                    {{#vestidos}}
                        <option value="{{nombre}}">{{nombre}}</option>
                    {{/vestidos}}
                </select>
                <br><br>
                <label class="text-center text-[15px] lg:text-xl text-white" for="color">Color</label>
                <br>
                <select class="lg:w-[250px] pl-2" name="color">
                    <option value="Negro">Negro</option>
                    <option value="Verde claro">Verde claro</option>
                    <option value="Rojo">Rojo</option>
                    <option value="Gris oscuro">Gris oscuro</option>
                    <option value="Gris claro">Gris claro</option>
                    <option value="Marron">Marron</option>
                    <option value="Beige">Beige</option>
                    <option value="Natural">Natural</option>
                    <option value="Camel">Camel</option>
                    <option value="Rosa">Rosa</option>
                    <option value="Militar">Militar</option>
                    <option value="Habano">Habano</option>
                    <option value="Verde hoja">Verde hoja</option>
                    <option value="Francia">Francia</option>
                </select>
                <br><br>
                <label class="text-center text-[15px] lg:text-xl text-white" for="talle">Talle</label>
                <br>
                <select class="lg:w-[250px] pl-2" name="talle">
                    <option value="U">U</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                </select>
                <br><br>
                <input class="lg:text-xl text-white border-white" type="submit" name="entradaVestidos" value="Actualizar">
            </form>
        </div>
    </div>
    <div class="flex justify-around items-center">
        <a href="/vestido/listarVestidos" class="text-center text-[15px] lg:text-2xl text-white">
            <div class="lg:h-[60px] flex justify-center items-center gap-2 my-2 mb-6 mx-auto rounded-2xl p-4 bg-[#1C1919] bg-opacity-80 lg:w-[300px]">
                Volver
            </div>
        </a>
    </div>
</main>
{{>footer}}