{{>header}}
<main class="">

    <div class="relative rounded-2xl p-6 bg-[#1C1919] bg-opacity-80  lg:w-[1337px] mx-auto m-10 ">
        <div class="lg:h-[90px] flex justify-center items-center gap-2 my-2 mb-6 mx-auto rounded-2xl p-4 bg-[#1C1919] bg-opacity-80 lg:w-[350px] text-center text-[15px] lg:text-3xl text-white">
            <p>Historial de Pagos</p>
        </div>
        <div class="flex justify-around items-center">
            <a href="/vestido/listarVestidos" class="text-center text-[15px] lg:text-2xl text-white">
                <div class="lg:h-[60px] flex justify-center items-center gap-2 my-2 mb-6 mx-auto rounded-2xl p-4 bg-[#1C1919] bg-opacity-80 lg:w-[300px]">
                    Volver
                </div>
            </a>
        </div>

        <table class="bg-[#252121] bg-opacity-80 w-[100%] mx-auto text-center border-collapse mt-12 p-5 mb-6 border">
            <tr class="text-white text-[20px] font-semibold border-t">
                <th class="border px-4 py-4">Cantidas de Salidas</th>
                <th class="border px-4 py-4">Saldo pagado</th>
                <th class="border px-4 py-4">Fecha de pago</th>
            </tr>
            {{#historial}}
                <tr class="text-white text-[20px] font-semibold border-t my-1">
                    <td class="border px-4 py-4">{{cantidadSalidas}}</td>
                    <td class="border px-4 py-4">{{saldoPagado}}</td>
                    <td class="border px-4 py-4">{{fechaPagada}}</td>
                </tr>
            {{/historial}}
        </table>


    </div>
</main>
{{>footer}}