<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-black">
<header class="flex justify-around items-center">
    <img src="/public/imgs/logo.jpg" class="lg:w-[15%] w-[70%]">
    <div class="w-[75%] flex justify-around items-center">
        <form>
            <input type="search" class="bg-[#1A1A1A] w-[800px] h-[40px] rounded-2xl text-white pl-4" placeholder="Quiero escuchar...">
        </form>
        <img src="/public/imgs/campanita.png" class="w-[40px] h-[40px]">

        <img src="/public/imgs/fotoPerfil.png" class="w-[60x] h-[60px]">
    </div>
</header>
<main>

</main>
</body>
</html>