<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-black">
<main class="h-[100vh]">
    <img src="/public/imgs/logo.jpg" alt="logo" class="lg:w-[20%] w-[70%]">

    <form action="#" method="POST" class="flex flex-col">
        <div class="mx-auto w-[80%] pt-8 pb-8 lg:flex ">
            <div class="flex flex-col lg:w-[50%] gap-6">
                <div class="w-[80%] mx-auto">
                    <label class="text-white text-2xl">Nombre
                        <input type="text" name="nombre" class="mt-2 w-[100%] h-[35px] text-white text-xl pl-2 border border-black border-b-[#444] bg-black">
                    </label>
                </div>
                <div class="w-[80%] mx-auto">
                    <label for="pais"  class="text-white text-2xl">País
                    <input type="text" name="pais" class="mt-2 w-[100%] h-[35px] text-white text-xl pl-2 mx-auto border border-black border-b-[#444] bg-black">
                    </label>
                </div>
                <div class="w-[80%] mx-auto">
                    <label class="text-white text-2xl">Fecha de nacimiento
                        <input type="date" name="fechaNacimiento" class="mt-2 w-[100%] h-[35px] text-white text-xl pl-2 mx-auto border border-black border-b-[#444] bg-black">
                    </label>
                </div>
                <div class="w-[80%] mx-auto">
                    <label class="text-white text-2xl">Contraseña
                        <input type="password" name="password" class="mt-2 w-[100%] h-[35px] text-white text-xl pl-2 mx-auto border border-black border-b-[#444] bg-black">
                    </label>
                </div>
                <div class="w-[80%] mx-auto">
                    <label for="fotoPerfil"  class="text-white text-2xl">Foto de perfil</label>
                    <br>
                    <input type="file" name="fotoPerfil" class="mt-4 w-[100%] h-[35px] text-white text-xl pl-2  mx-auto  bg-black">
                </div>
            </div>
            <div class="flex flex-col lg:w-[50%] lg:mt-0 mt-8 gap-6">
                <div class="w-[80%] mx-auto">
                    <label for="apellido" class="text-white text-2xl">Apellido</label>
                    <br>
                    <input type="text" name="apellido" class="mt-2 w-[100%] h-[35px] text-white text-xl pl-2  mx-auto border border-black border-b-[#444] bg-black">
                </div>
                <div class="w-[80%] mx-auto">
                    <label for="ciudad"  class="text-white text-2xl">Ciudad</label>
                    <br>
                    <input type="text" name="ciudad" class="mt-2 w-[100%] h-[35px] text-white text-xl pl-2 mx-auto border border-black border-b-[#444] bg-black">
                </div>
                <div class="w-[80%] mx-auto">
                    <label for="email"  class="text-white text-2xl">Email</label>
                    <br>
                    <input type="email" name="email" class="mt-2 w-[100%] h-[35px] text-white text-xl pl-2 mx-auto border border-black border-b-[#444] bg-black">
                </div>
                <div class="w-[80%] mx-auto">
                    <label for="repetirPassword"  class="text-white text-2xl">Repetir contraseña</label>
                    <br>
                    <input type="password" name="repetirPassword" class="mt-2 w-[100%] h-[35px] text-white text-xl pl-2 mx-auto border border-black border-b-[#444] bg-black">
                </div>
                <div class="w-[80%] mx-auto">
                    <label for="fotoPortada"  class="text-white text-2xl">Foto de portada</label>
                    <br>
                    <input type="file" name="fotoPortada" class="mt-4 w-[100%] h-[35px] text-white text-xl pl-2  mx-auto  bg-black">
                </div>
            </div>
        </div>
        <input type="submit" class="mt-6 mb-16 lg:w-[20%] w-[50%] h-[40px] text-xl bg-[#5C67DE] rounded-2xl mx-auto" value="Registrarme" name="registro">
    </form>
</main>
<footer>

</footer>
</body>
</html>