{{>header}}
<main class="">
    <div class="relative rounded-2xl p-6 bg-[#1C1919] bg-opacity-80  lg:w-[1337px] mx-auto m-10 ">
        <div class="lg:h-[90px] flex justify-center items-center gap-2 my-2 mb-6 mx-auto rounded-2xl p-4 bg-[#1C1919] bg-opacity-80 lg:w-[350px] text-center text-[15px] lg:text-3xl text-white">
            <p>Vestidos</p>
        </div>
        <div class=" flex justify-around items-center">
        <div class="lg:h-[90px] flex justify-center items-center  rounded-2xl p-4 bg-[#1C1919] bg-opacity-80 lg:w-[400px]">
           <form action="/vestido/listarVestidos" method="post">
               <select class="lg:w-[250px] pl-2" name="nombre">
                   {{#vestidos2}}
                       <option value="{{nombre}}">{{nombre}}</option>
                   {{/vestidos2}}
               </select>
               <input class="text-black ml-10 border p-2 bg-white" type="submit" name="buscarVestido" value="Buscar">
           </form>
        </div>
            <a href="/vestido/listarVestidos" class="text-center text-[15px] lg:text-2xl text-white">
                <div class="lg:h-[60px] flex justify-center items-center gap-2 my-2 mb-6 mx-auto rounded-2xl p-4 bg-[#1C1919] bg-opacity-80 lg:w-[300px]">
                    Ver todos los vestidos
                </div>
            </a>
        </div>
        <table class="bg-[#252121] bg-opacity-80 w-[100%] mx-auto text-center mt-12 p-5 mb-6 border border-gray-300">
            <tr class="text-white text-[20px] font-semibold">
                <th class="p-4 border border-gray-300">ID</th>
                <th class="p-4 border border-gray-300">Vestido</th>
                <th class="p-4 border border-gray-300">Precio</th>
                <th class="p-4 border border-gray-300">Entrada</th>
                <th class="p-4 border border-gray-300">Salida</th>
                <th class="p-4 border border-gray-300">Saldo T. Mercadería</th>
                <th class="p-4 border border-gray-300">Saldo Total</th>
                <th class="p-4 border border-gray-300">Estado</th>
                <th class="p-4 border border-gray-300">Fecha pago</th>
            </tr>
            {{#vestidos}}
                <tr class="text-white text-[20px] font-semibold">
                    <td class="p-4 border border-gray-300">{{id}}</td>
                    <td class="p-4 border border-gray-300">{{nombre}}</td>
                    <td class="p-4 border border-gray-300">{{precio}}</td>
                    <td class="p-4 border border-gray-300">{{entrada}}</td>
                    <td class="p-4 border border-gray-300">{{salida}}</td>
                    <td class="p-4 border border-gray-300">{{saldoTotalMercaderia}}</td>
                    <td class="p-4 border border-gray-300">{{saldoTotal}}</td>
                    <td class="p-4 border border-gray-300">{{estado}}</td>
                    <td class="p-4 border border-gray-300">{{fechaPago}}</td>
                </tr>
            {{/vestidos}}
        </table>

    </div>


</main>
{{>footer}}